<% @products.each do |p|%>
<p><%= link_to p.name, :controller => "admin/products", :action => "show", :id => p.id %></p>
<% end %>
<%= link_to "New", :controller => "admin/products", :action => "new" %>